In [1]:
import pandas as pd
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [2]:
obj1

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [3]:
obj2

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [4]:
obj3

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [5]:
import pandas as pd
d = {'1': 'Alice','2': 'Bob','3': 'Rita','4': 'Molly','5': 'Ryan'}
S = pd.Series(d)

In [7]:

S.iloc[0:2]

1    Alice
2      Bob
dtype: object

In [8]:
import pandas as pd
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})

In [15]:
s2[1]

2

In [16]:
s1.append(s2)

1        Alice
2         Jack
3        Molly
Alice        1
Jack         2
Molly        3
dtype: object